 */
/* estilos-globales */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1px;
  width: 70%; 
  margin: 10px auto; 
  text-align: center;
}

.item {
  border-radius: 10px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info-producto {
  padding: 30px; 
}

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.fotoair2 {
  height: 600px;
  width: 600px;
}

.caracteristicas-air2 {
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  bottom: 200px;
  left: 620px;
  color: black;
}

